In [38]:
import pandas as pd
import requests

In [51]:
df = pd.read_csv('./bitcoin.csv', parse_dates=['Date'])
df.head()

        Date    Open    High     Low   Close  Volume  Market Cap
0 2013-04-28  135.30  135.98  132.10  134.21       0  1488566728
1 2013-04-29  134.44  147.49  134.00  144.54       0  1603768865
2 2013-04-30  144.00  146.93  134.05  139.00       0  1542813125
3 2013-05-01  139.00  139.89  107.72  116.99       0  1298954594
4 2013-05-02  116.38  125.60   92.28  105.21       0  1168517495

In [52]:
df.columns = df.columns.str.lower()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        3140 non-null   datetime64[ns]
 1   open        3140 non-null   float64
 2   high        3140 non-null   float64
 3   low         3140 non-null   float64
 4   close       3140 non-null   float64
 5   volume      3140 non-null   int64
 6   market cap  3140 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 171.8 KB

In [56]:
from datetime import datetime

historicals = []
for _, item in df.iterrows():
    historicals.append({
        'open': item['open'],
        'close': item['close'],
        'low': item['low'],
        'high': item['high'],
        'at': int(datetime.timestamp(item['date']))
    })

body = {
    'name': 'btc',
    'historicals': historicals
}
body['historicals'][0]

{'open': 135.3,
 'close': 134.21,
 'low': 132.1,
 'high': 135.98,
 'at': 1367082000}

In [57]:
url = 'http://localhost:5000/asset'
requests.post(url, json=body)